a {
  text-decoration: none;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

table {
  border-collapse: collapse;
  margin: 1rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.my-profile {
  display: flex;
  padding: 2rem 8%;
}

.my-profile section {
  flex: 1;
}

.pageLink {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 1rem;
}

.pageLink:nth-child(2) {
  border-right: solid 1px gray;
}

.pageLink * {
  text-decoration: none;
}

.active {
  text-decoration: underline;
}
